:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h3,
.greeting {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  margin: 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

section {
  font-size: 18px;
  padding-top: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 60px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.application-links {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.application-links a {
  margin: 10px 0px;
  border-radius: 4px;
  padding: 19px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.yoga-app-link,
.weather-app-link,
.yogurt-app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.row {
  margin-bottom: 50px;
}
.contact-section {
  text-align: center;
}
#contact {
  padding-bottom: 70px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    margin: 10px 10px 30px;
  }
  .homepage-photo {
    display: none;
  }
  .navbar-name {
    font-size: 1.1rem;
  }
  .section-title {
    text-align: center;
  }
  .row {
    margin-bottom: 0px;
  }
  .yoga-app-link,
  .weather-app-link,
  .yogurt-app-link {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .application-links a {
    margin: 20px 15px;
    padding: 19px 50px;
    display: inline;
    text-align: center;
  }
  .section-text {
    text-align: center;
  }
  .email-link {
    font-size: 20px;
  }
  .contact-section {
    text-align: center;
    font-size: 32px;
  }
  .app-section {
    padding-bottom: 30px;
  }
  .about-description {
    padding: 8px 20px;
  }
}
